In [11]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [20]:
driv_dat = pd.read_csv('output/driv.csv')
driv_dat
driv_data = driv_dat.copy()

In [21]:
# INDEXING
# making date time index's
# 1 is going to be yyyy-mm-dd
# 2 is going to be yyyy-mm
# 3 is going to be yyyy

# 1
driv_data['Date'] = pd.to_datetime(driv_data['Date'])
driv_data = driv_data.set_index('Date')
driv_data

,ETF name,Year Month Day,Open,High,Low,Close,Volume
Date,,,,,,,
2018-04-17,DRIV,2018-04-17,14.388566,14.508866,14.388566,14.473818,57400
2018-04-18,DRIV,2018-04-18,14.388566,14.508866,14.388566,14.473818,6200
2018-04-19,DRIV,2018-04-19,14.502237,14.502237,14.341206,14.359203,817400
2018-04-20,DRIV,2018-04-20,14.341206,14.341206,14.175439,14.205750,72200
2018-04-23,DRIV,2018-04-23,14.237008,14.237008,14.047560,14.066505,14200
...,...,...,...,...,...,...,...
2022-07-28,DRIV,2022-07-28,23.459999,23.790001,23.250000,23.750000,88900
2022-07-29,DRIV,2022-07-29,23.669001,24.150000,23.520000,24.080000,176700
2022-08-01,DRIV,2022-08-01,24.040001,24.370001,23.879999,24.170000,119700
2022-08-02,DRIV,2022-08-02,23.959999,24.530001,23.910000,24.219999,114400
2022-08-03,DRIV,2022-08-03,24.400000,24.780001,24.299999,24.709999,142209

In [27]:
# 2
copy_driv_dat = driv_dat.copy()
copy_driv_dat['Date'] = pd.to_datetime(copy_driv_dat['Date']).dt.to_period('M')
copy_driv_dat = copy_driv_dat.set_index('Date')
copy_driv_dat

,ETF name,Year Month Day,Open,High,Low,Close,Volume
Date,,,,,,,
2018-04,DRIV,2018-04-17,14.388566,14.508866,14.388566,14.473818,57400
2018-04,DRIV,2018-04-18,14.388566,14.508866,14.388566,14.473818,6200
2018-04,DRIV,2018-04-19,14.502237,14.502237,14.341206,14.359203,817400
2018-04,DRIV,2018-04-20,14.341206,14.341206,14.175439,14.205750,72200
2018-04,DRIV,2018-04-23,14.237008,14.237008,14.047560,14.066505,14200
...,...,...,...,...,...,...,...
2022-07,DRIV,2022-07-28,23.459999,23.790001,23.250000,23.750000,88900
2022-07,DRIV,2022-07-29,23.669001,24.150000,23.520000,24.080000,176700
2022-08,DRIV,2022-08-01,24.040001,24.370001,23.879999,24.170000,119700
2022-08,DRIV,2022-08-02,23.959999,24.530001,23.910000,24.219999,114400
2022-08,DRIV,2022-08-03,24.400000,24.780001,24.299999,24.709999,142209

In [28]:
# 3 
driv_3 = driv_dat.copy()
driv_3['Date'] = pd.to_datetime(driv_3['Date']).dt.to_period('Y')
driv_3 = driv_3.set_index('Date')
driv_3

,ETF name,Year Month Day,Open,High,Low,Close,Volume
Date,,,,,,,
2018,DRIV,2018-04-17,14.388566,14.508866,14.388566,14.473818,57400
2018,DRIV,2018-04-18,14.388566,14.508866,14.388566,14.473818,6200
2018,DRIV,2018-04-19,14.502237,14.502237,14.341206,14.359203,817400
2018,DRIV,2018-04-20,14.341206,14.341206,14.175439,14.205750,72200
2018,DRIV,2018-04-23,14.237008,14.237008,14.047560,14.066505,14200
...,...,...,...,...,...,...,...
2022,DRIV,2022-07-28,23.459999,23.790001,23.250000,23.750000,88900
2022,DRIV,2022-07-29,23.669001,24.150000,23.520000,24.080000,176700
2022,DRIV,2022-08-01,24.040001,24.370001,23.879999,24.170000,119700
2022,DRIV,2022-08-02,23.959999,24.530001,23.910000,24.219999,114400
2022,DRIV,2022-08-03,24.400000,24.780001,24.299999,24.709999,142209