In [54]:
import yfinance as yf
import pandas as pd
import numpy as np
import requests
import lxml
from pprint import pprint

In [55]:
# DRIV

# Global X Autonomous & Electric Vehicles ETF

# Broadly focused with a portfolio that includes tech giants, automakers, semiconductor companies, and other EV suppliers

driv = yf.Ticker('DRIV')
driv_df = driv.history(period='max')
driv_df
driv_df['Year Month Day'] = pd.to_datetime(driv_df.index)
driv_df['ETF name'] = 'DRIV'
driv_df = driv_df.reindex(columns=['ETF name', 'Year Month Day', 'Open', 'High', 'Low', 'Close', 'Volume'])
driv_df

,ETF name,Year Month Day,Open,High,Low,Close,Volume
Date,,,,,,,
2018-04-17,DRIV,2018-04-17,14.388566,14.508866,14.388566,14.473818,57400
2018-04-18,DRIV,2018-04-18,14.388566,14.508866,14.388566,14.473818,6200
2018-04-19,DRIV,2018-04-19,14.502237,14.502237,14.341206,14.359203,817400
2018-04-20,DRIV,2018-04-20,14.341206,14.341206,14.175439,14.205750,72200
2018-04-23,DRIV,2018-04-23,14.237008,14.237008,14.047560,14.066505,14200
...,...,...,...,...,...,...,...
2022-07-28,DRIV,2022-07-28,23.459999,23.790001,23.250000,23.750000,88900
2022-07-29,DRIV,2022-07-29,23.669001,24.150000,23.520000,24.080000,176700
2022-08-01,DRIV,2022-08-01,24.040001,24.370001,23.879999,24.170000,119700
2022-08-02,DRIV,2022-08-02,23.959999,24.530001,23.910000,24.219999,114400
2022-08-03,DRIV,2022-08-03,24.400000,24.780001,24.299999,24.709999,142209

In [56]:
# KARS

# KraneShares Electric Vehicles & Future Mobility ETF

# Narrowly focused on companies directly involved in EV and EV component production

kars = yf.Ticker('KARS')
kars_df = kars.history(period='max')
kars_df
kars_df['Year Month Day'] = pd.to_datetime(kars_df.index)
kars_df['ETF name'] = "KARS"
kars_df = kars_df.reindex(columns=['ETF name', 'Year Month Day', 'Open', 'High', 'Low', 'Close', 'Volume'])
kars_df

,ETF name,Year Month Day,Open,High,Low,Close,Volume
Date,,,,,,,
2018-01-25,KARS,2018-01-25,22.775692,22.820953,22.585593,22.612749,60800
2018-01-26,KARS,2018-01-26,22.830007,22.830007,22.658013,22.802851,42100
2018-01-29,KARS,2018-01-29,22.784744,22.820952,22.626329,22.793797,38900
2018-01-30,KARS,2018-01-30,22.594644,22.594644,22.449806,22.513174,37200
2018-01-31,KARS,2018-01-31,22.567487,22.624517,22.404545,22.404545,34200
...,...,...,...,...,...,...,...
2022-07-28,KARS,2022-07-28,36.419998,36.880001,36.080002,36.880001,29100
2022-07-29,KARS,2022-07-29,36.630001,37.130001,36.310001,37.130001,30100
2022-08-01,KARS,2022-08-01,37.500000,38.129002,37.490002,37.740002,119400
2022-08-02,KARS,2022-08-02,37.340000,38.169998,37.154999,37.750000,76700
2022-08-03,KARS,2022-08-03,37.790001,37.919998,37.290001,37.740002,48765

In [57]:
# HAIL

# SPDR S&P Kensho Smart Mobility ETF

# Invests in EVs, autonomous vehicles, transport systems, and drone companies

hail = yf.Ticker('HAIL')
hail_df = hail.history(period='max')
hail_df
hail_df['Year Month Day'] = pd.to_datetime(hail_df.index)
hail_df['ETF name'] = "HAIL"
hail_df = hail_df.reindex(columns=['ETF name', 'Year Month Day', 'Open', 'High', 'Low', 'Close', 'Volume'])
hail_df

,ETF name,Year Month Day,Open,High,Low,Close,Volume
Date,,,,,,,
2017-12-27,HAIL,2017-12-27,28.151134,28.151134,28.151134,28.151134,200
2017-12-28,HAIL,2017-12-28,28.076284,28.076284,28.076284,28.076284,800
2017-12-29,HAIL,2017-12-29,28.010798,28.057575,27.966825,27.966825,20200
2018-01-02,HAIL,2018-01-02,28.055698,28.207258,28.055698,28.207258,78700
2018-01-03,HAIL,2018-01-03,28.207258,28.207258,28.207258,28.207258,0
...,...,...,...,...,...,...,...
2022-07-28,HAIL,2022-07-28,37.880001,38.959999,37.810001,38.910000,11600
2022-07-29,HAIL,2022-07-29,38.669998,39.509998,38.669998,39.490002,9600
2022-08-01,HAIL,2022-08-01,39.299999,39.759998,39.299999,39.650002,5200
2022-08-02,HAIL,2022-08-02,40.080002,41.020000,40.080002,40.790001,7100
2022-08-03,HAIL,2022-08-03,40.940201,41.860699,40.940201,41.854801,11105

In [58]:
# IDRV

# iShares Self-Driving EV and Tech ETF

# Broadly focused ETF weighted toward big tech and semiconductor companies.

idrv = yf.Ticker('IDRV')
idrv_df = idrv.history(period='max')
idrv_df
idrv_df['Year Month Day'] = pd.to_datetime(idrv_df.index)
print(idrv_df.index)
idrv_df['ETF name'] = "IDRV"
print(idrv_df.columns)
idrv_df = idrv_df.reindex(columns=['ETF name', 'Year Month Day', 'Open', 'High', 'Low', 'Close', 'Volume'])
idrv_df

DatetimeIndex(['2019-04-18', '2019-04-22', '2019-04-23', '2019-04-24',
               '2019-04-25', '2019-04-26', '2019-04-29', '2019-04-30',
               '2019-05-01', '2019-05-02',
               ...
               '2022-07-21', '2022-07-22', '2022-07-25', '2022-07-26',
               '2022-07-27', '2022-07-28', '2022-07-29', '2022-08-01',
               '2022-08-02', '2022-08-03'],
              dtype='datetime64[ns]', name='Date', length=830, freq=None)
Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'Year Month Day', 'ETF name'],
      dtype='object')

,ETF name,Year Month Day,Open,High,Low,Close,Volume
Date,,,,,,,
2019-04-18,IDRV,2019-04-18,24.710554,24.710554,24.710554,24.710554,200
2019-04-22,IDRV,2019-04-22,24.710551,24.710551,24.615033,24.698133,1000
2019-04-23,IDRV,2019-04-23,24.772636,24.772636,24.772636,24.772636,100
2019-04-24,IDRV,2019-04-24,24.729653,24.729653,24.634136,24.634136,1600
2019-04-25,IDRV,2019-04-25,24.366685,24.366685,24.295046,24.295046,200
...,...,...,...,...,...,...,...
2022-07-28,IDRV,2022-07-28,40.200001,40.560001,39.720001,40.535999,38100
2022-07-29,IDRV,2022-07-29,40.270000,40.980000,40.099998,40.919998,65200
2022-08-01,IDRV,2022-08-01,40.860001,41.590000,40.840000,41.209999,82900
2022-08-02,IDRV,2022-08-02,40.869999,41.500000,40.705002,40.970001,55700
2022-08-03,IDRV,2022-08-03,41.000000,41.702400,41.000000,41.660000,51417

In [59]:
# LIT

# Global X Lithium & Battery Tech ETF

# Invests in companies in the lithium industry, including miners and battery manufacturers

lit = yf.Ticker('LIT')
lit_df = lit.history(period='max')
lit_df
lit_df['Year Month Day'] = pd.to_datetime(lit_df.index)
lit_df['ETF name'] = "LIT"
lit_df = lit_df.reindex(columns=['ETF name', 'Year Month Day', 'Open', 'High', 'Low', 'Close', 'Volume'])
lit_df

,ETF name,Year Month Day,Open,High,Low,Close,Volume
Date,,,,,,,
2010-07-23,LIT,2010-07-23,26.817354,27.430323,26.698167,27.396269,232100
2010-07-26,LIT,2010-07-26,27.753834,28.094373,27.413298,28.026264,82700
2010-07-27,LIT,2010-07-27,28.520051,28.520051,27.787894,27.907082,87100
2010-07-28,LIT,2010-07-28,28.094376,28.094376,27.583570,27.804918,152650
2010-07-29,LIT,2010-07-29,28.520051,28.826535,28.213566,28.639238,125400
...,...,...,...,...,...,...,...
2022-07-28,LIT,2022-07-28,74.110001,74.680000,73.250000,74.330002,587500
2022-07-29,LIT,2022-07-29,73.410004,74.410004,73.019997,74.389999,411600
2022-08-01,LIT,2022-08-01,75.300003,75.980003,75.110001,75.470001,773900
2022-08-02,LIT,2022-08-02,74.900002,76.120003,74.730003,75.330002,462300
2022-08-03,LIT,2022-08-03,75.279999,75.400002,74.370003,74.889999,395700

In [60]:
# VCAR

# Simplify Volt RoboCar Disruption and Tech ETF

# Concentrates on a few disruptive companies posed to dominate the industry

vcar = yf.Ticker('VCAR')
vcar_df = vcar.history(period='max')
vcar_df
vcar_df['Year Month Day'] = pd.to_datetime(vcar_df.index)
vcar_df['ETF name'] = "VCAR"
vcar_df = vcar_df.reindex(columns=['ETF name', 'Year Month Day', 'Open', 'High', 'Low', 'Close', 'Volume'])
vcar_df

,ETF name,Year Month Day,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-29,VCAR,2020-12-29,12.703955,12.703955,12.434930,12.434930,23000
2020-12-30,VCAR,2020-12-30,12.558482,12.948070,12.558482,12.929138,23600
2020-12-31,VCAR,2020-12-31,13.012836,13.222077,12.903232,13.030770,2400
2021-01-04,VCAR,2021-01-04,14.886046,14.886046,13.152330,13.337658,10400
2021-01-05,VCAR,2021-01-05,13.441282,13.473167,13.242005,13.351607,19500
...,...,...,...,...,...,...,...
2022-07-28,VCAR,2022-07-28,10.500000,10.500000,9.790000,9.975000,1300
2022-07-29,VCAR,2022-07-29,9.780000,10.030000,9.740000,10.030000,1200
2022-08-01,VCAR,2022-08-01,10.030000,10.210000,10.000000,10.051000,3700
2022-08-02,VCAR,2022-08-02,10.100000,10.120000,10.030000,10.112000,1100
2022-08-03,VCAR,2022-08-03,10.110000,10.535000,10.110000,10.535000,297

In [62]:
driv_df.to_csv('output/driv.csv', encoding='utf-8', index=True)
kars_df.to_csv('output/kars.csv', encoding='utf-8', index=True)
idrv_df.to_csv('output/idrv.csv', encoding='utf-8', index=True)
vcar_df.to_csv('output/vcar.csv', encoding='utf-8', index=True)
lit_df.to_csv('output/lit.csv', encoding='utf-8', index=True)
hail_df.to_csv('output/hail.csv', encoding='utf-8', index=True)