In [1]:
import pandas as pd
import numpy as np

In [2]:
# read csv
driv1 = pd.read_csv('output/driv.csv')
driv1.head()

,Date,ETF name,Year Month Day,Open,High,Low,Close,Volume
0,2018-04-17,DRIV,2018-04-17,14.388566,14.508866,14.388566,14.473818,57400
1,2018-04-18,DRIV,2018-04-18,14.388566,14.508866,14.388566,14.473818,6200
2,2018-04-19,DRIV,2018-04-19,14.502237,14.502237,14.341206,14.359203,817400
3,2018-04-20,DRIV,2018-04-20,14.341206,14.341206,14.175439,14.205750,72200
4,2018-04-23,DRIV,2018-04-23,14.237008,14.237008,14.047560,14.066505,14200

In [3]:
# Making Data Frame for Average ETF Price (High), Average Volume By Month and Year
# And Percent Change for ETF Price and Volume By Month and Year

# DRIV

# make copy
driv = driv1.copy()

# PERCENT CHANGE
# setting datetime index (yyyy-mm)
# percent change of Stock High for each index
driv['Date'] = pd.to_datetime(driv['Date']).dt.to_period('M')
driv = driv.drop(columns=['Year Month Day'])
driv = driv.set_index('Date')
driv
driv['High (Percent Change)'] = driv['High'].pct_change(periods=1, freq='M')
driv
driv['High (Percent Change)'] = driv['High (Percent Change)'].fillna(0)
driv['Volume (Percent Change)'] = driv['Volume'].pct_change(periods=1, freq='M')
driv['Volume (Percent Change)'] = driv['Volume (Percent Change)'].fillna(0)

# Group by (yyyy-mm)
driv_group = driv.groupby(pd.Grouper(freq='M'))
driv_pc = driv_group['High (Percent Change)'].sum()
driv_v_pc = driv_group['Volume (Percent Change)'].sum()
av_high = driv_group['High'].mean()
av_vol = driv_group['Volume'].mean()

# New Data Frame
driv_clean = pd.DataFrame({
    'ETF': "DRIV",
    'Average High': av_high,
    'High (Percent Change)': driv_pc,
    'Average Volume': av_vol,
    'Volume (Percent Change)': driv_v_pc,
})

# Reset Index
driv_clean.reset_index(inplace=True)
driv_clean.head()

,Date,ETF,Average High,High (Percent Change),Average Volume,Volume (Percent Change)
0,2018-04,DRIV,14.277172,0.000000,100540.000000,0.000000
1,2018-05,DRIV,14.468911,-0.728209,12881.818182,-17.324042
2,2018-06,DRIV,14.496056,0.785550,10276.190476,-6.713115
3,2018-07,DRIV,14.054823,-1.254754,4919.047619,-2.277108
4,2018-08,DRIV,13.981378,0.595460,3739.130435,-15.851351

In [4]:
# to csv
driv_clean.to_csv('csv_files/driv_percent_change.csv', encoding='utf-8', index=False)

In [5]:
# IDRV

# read csv
idrv1 = pd.read_csv('output/idrv.csv')
idrv1.head()

,Date,ETF name,Year Month Day,Open,High,Low,Close,Volume
0,2019-04-18,IDRV,2019-04-18,24.710554,24.710554,24.710554,24.710554,200
1,2019-04-22,IDRV,2019-04-22,24.710551,24.710551,24.615033,24.698133,1000
2,2019-04-23,IDRV,2019-04-23,24.772636,24.772636,24.772636,24.772636,100
3,2019-04-24,IDRV,2019-04-24,24.729653,24.729653,24.634136,24.634136,1600
4,2019-04-25,IDRV,2019-04-25,24.366685,24.366685,24.295046,24.295046,200

In [6]:
# Making Data Frame for Average ETF Price (High), Average Volume By Month and Year
# And Percent Change for ETF Price and Volume By Month and Year

# IDRV

# make copy
idrv = idrv1.copy()

# PERCENT CHANGE
# setting datetime index (yyyy-mm)
# percent change of Stock High for each index
idrv['Date'] = pd.to_datetime(idrv['Date']).dt.to_period('M')
idrv = idrv.drop(columns=['Year Month Day'])
idrv = idrv.set_index('Date')
idrv
idrv['High (Percent Change)'] = idrv['High'].pct_change(periods=1, freq='M')
idrv
idrv['High (Percent Change)'] = idrv['High (Percent Change)'].fillna(0)
idrv['Volume (Percent Change)'] = idrv['Volume'].pct_change(periods=1, freq='M')
idrv['Volume (Percent Change)'] = idrv['Volume (Percent Change)'].fillna(0)

# Group by (yyyy-mm)
idrv_group = idrv.groupby(pd.Grouper(freq='M'))
idrv_pc = idrv_group['High (Percent Change)'].sum()
idrv_v_pc = idrv_group['Volume (Percent Change)'].sum()
idrv_high = idrv_group['High'].mean()
idrv_vol = idrv_group['Volume'].mean()

# New Data Frame
idrv_clean = pd.DataFrame({
    'ETF': "IDRV",
    'Average High': idrv_high,
    'High (Percent Change)': idrv_pc,
    'Average Volume': idrv_vol,
    'Volume (Percent Change)': idrv_v_pc,
})

# Reset Index
idrv_clean.reset_index(inplace=True)

idrv_clean.head()

,Date,ETF,Average High,High (Percent Change),Average Volume,Volume (Percent Change)
0,2019-04,IDRV,24.523455,0.000000,475.000000,0.000000
1,2019-05,IDRV,22.621481,-0.314655,1163.636364,11.000000
2,2019-06,IDRV,22.306188,-2.767841,800.000000,-6.666667
3,2019-07,IDRV,23.267839,2.627422,904.545455,-11.000000
4,2019-08,IDRV,22.032767,-0.117211,977.272727,902.000000

In [7]:
# to csv
idrv_clean.to_csv('csv_files/idrv_percent_change.csv', encoding='utf-8', index=False)

In [8]:
# Kars
# read csv
kars1 = pd.read_csv('output/kars.csv')
kars1.head()

,Date,ETF name,Year Month Day,Open,High,Low,Close,Volume
0,2018-01-25,KARS,2018-01-25,22.775692,22.820953,22.585593,22.612749,60800
1,2018-01-26,KARS,2018-01-26,22.830007,22.830007,22.658013,22.802851,42100
2,2018-01-29,KARS,2018-01-29,22.784744,22.820952,22.626329,22.793797,38900
3,2018-01-30,KARS,2018-01-30,22.594644,22.594644,22.449806,22.513174,37200
4,2018-01-31,KARS,2018-01-31,22.567487,22.624517,22.404545,22.404545,34200

In [9]:
# Making Data Frame for Average ETF Price (High), Average Volume By Month and Year
# And Percent Change for ETF Price and Volume By Month and Year

# KARS

# make copy
kars = kars1.copy()

# PERCENT CHANGE
# setting datetime index (yyyy-mm)
# percent change of Stock High for each index
kars['Date'] = pd.to_datetime(kars['Date']).dt.to_period('M')
kars = kars.drop(columns=['Year Month Day'])
kars = kars.set_index('Date')
kars
kars['High (Percent Change)'] = kars['High'].pct_change(periods=1, freq='M')
kars
kars['High (Percent Change)'] = kars['High (Percent Change)'].fillna(0)
kars['Volume (Percent Change)'] = kars['Volume'].pct_change(periods=1, freq='M')
kars['Volume (Percent Change)'] = kars['Volume (Percent Change)'].fillna(0)

# Group by (yyyy-mm)
kars_group = kars.groupby(pd.Grouper(freq='M'))
kars_pc = kars_group['High (Percent Change)'].sum()
kars_v_pc = kars_group['Volume (Percent Change)'].sum()
kars_high = kars_group['High'].mean()
kars_vol = kars_group['Volume'].mean()

# New Data Frame
kars_clean = pd.DataFrame({
    'ETF': "KARS",
    'Average High': kars_high,
    'High (Percent Change)': kars_pc,
    'Average Volume': kars_vol,
    'Volume (Percent Change)': kars_v_pc,
})

# Reset Index
kars_clean.reset_index(inplace=True)
kars_clean.head()

,Date,ETF,Average High,High (Percent Change),Average Volume,Volume (Percent Change)
0,2018-01,KARS,22.738214,0.000000,42640.000000,0.000000
1,2018-02,KARS,22.001764,-0.309757,28852.631579,-9.843750
2,2018-03,KARS,22.136984,-0.456430,13095.238095,-3.941980
3,2018-04,KARS,21.283952,-0.545344,9642.857143,-12.264706
4,2018-05,KARS,21.343570,-0.679644,7059.090909,-8.222222

In [10]:
# to csv
kars_clean.to_csv('csv_files/kars_percent_change.csv', encoding='utf-8', index=False)

In [11]:
# LIT
# read csv
lit1 = pd.read_csv('output/lit.csv')
lit1.head()

,Date,ETF name,Year Month Day,Open,High,Low,Close,Volume
0,2010-07-23,LIT,2010-07-23,26.817354,27.430323,26.698167,27.396269,232100
1,2010-07-26,LIT,2010-07-26,27.753834,28.094373,27.413298,28.026264,82700
2,2010-07-27,LIT,2010-07-27,28.520051,28.520051,27.787894,27.907082,87100
3,2010-07-28,LIT,2010-07-28,28.094376,28.094376,27.583570,27.804918,152650
4,2010-07-29,LIT,2010-07-29,28.520051,28.826535,28.213566,28.639238,125400

In [12]:
# Making Data Frame for Average ETF Price (High), Average Volume By Month and Year
# And Percent Change for ETF Price and Volume By Month and Year

# LIT

# make copy
lit = lit1.copy()

# PERCENT CHANGE
# setting datetime index (yyyy-mm)
# percent change of Stock High for each index
lit['Date'] = pd.to_datetime(lit['Date']).dt.to_period('M')
lit = lit.drop(columns=['Year Month Day'])
lit = lit.set_index('Date')
lit
lit['High (Percent Change)'] = lit['High'].pct_change(periods=1, freq='M')
lit
lit['High (Percent Change)'] = lit['High (Percent Change)'].fillna(0)
lit['Volume (Percent Change)'] = lit['Volume'].pct_change(periods=1, freq='M')
lit['Volume (Percent Change)'] = lit['Volume (Percent Change)'].fillna(0)

# Group by (yyyy-mm)
lit_group = lit.groupby(pd.Grouper(freq='M'))
lit_pc = lit_group['High (Percent Change)'].sum()
lit_v_pc = lit_group['Volume (Percent Change)'].sum()
lit_high = lit_group['High'].mean()
lit_vol = lit_group['Volume'].mean()

# New Data Frame
lit_clean = pd.DataFrame({
    'ETF': "LIT",
    'Average High': lit_high,
    'High (Percent Change)': lit_pc,
    'Average Volume': lit_vol,
    'Volume (Percent Change)': lit_v_pc,
})

# Reset Index
lit_clean.reset_index(inplace=True)
lit_clean.head()

,Date,ETF,Average High,High (Percent Change),Average Volume,Volume (Percent Change)
0,2010-07,LIT,28.256132,0.000000,122291.666667,0.000000
1,2010-08,LIT,28.577321,1.297331,47202.272727,-17.189573
2,2010-09,LIT,30.677597,-0.517000,45742.857143,-7.779310
3,2010-10,LIT,33.507305,2.902646,73666.666667,-0.164319
4,2010-11,LIT,35.050265,1.308346,83585.714286,7.154574

In [25]:
# to csv 
lit_clean.to_csv('csv_files/lit_percent_change.csv', encoding='utf-8', index=False)

In [14]:
# HAIL
# read csv
hail1 = pd.read_csv('output/hail.csv')
hail1.head()

,Date,ETF name,Year Month Day,Open,High,Low,Close,Volume
0,2017-12-27,HAIL,2017-12-27,28.151134,28.151134,28.151134,28.151134,200
1,2017-12-28,HAIL,2017-12-28,28.076284,28.076284,28.076284,28.076284,800
2,2017-12-29,HAIL,2017-12-29,28.010798,28.057575,27.966825,27.966825,20200
3,2018-01-02,HAIL,2018-01-02,28.055698,28.207258,28.055698,28.207258,78700
4,2018-01-03,HAIL,2018-01-03,28.207258,28.207258,28.207258,28.207258,0

In [15]:
# Making Data Frame for Average ETF Price (High), Average Volume By Month and Year
# And Percent Change for ETF Price and Volume By Month and Year

# HAIL

# make copy
hail = hail1.copy()

# PERCENT CHANGE
# setting datetime index (yyyy-mm)
# percent change of Stock High for each index
hail['Date'] = pd.to_datetime(hail['Date']).dt.to_period('M')
hail = hail.drop(columns=['Year Month Day'])
hail = hail.set_index('Date')
hail
hail['High (Percent Change)'] = hail['High'].pct_change(periods=1, freq='M')
hail
hail['High (Percent Change)'] = hail['High (Percent Change)'].fillna(0)
hail['Volume (Percent Change)'] = hail['Volume'].pct_change(periods=1, freq='M')
hail['Volume (Percent Change)'] = hail['Volume (Percent Change)'].fillna(0)

# Group by (yyyy-mm)
hail_group = hail.groupby(pd.Grouper(freq='M'))
hail_pc = hail_group['High (Percent Change)'].sum()
hail_v_pc = hail_group['Volume (Percent Change)'].sum()
hail_high = hail_group['High'].mean()
hail_vol = hail_group['Volume'].mean()

# New Data Frame
hail_clean = pd.DataFrame({
    'ETF': "HAIL",
    'Average High': hail_high,
    'High (Percent Change)': hail_pc,
    'Average Volume': hail_vol,
    'Volume (Percent Change)': hail_v_pc,
})

# Reset Index
hail_clean.reset_index(inplace=True)
hail_clean.head()

,Date,ETF,Average High,High (Percent Change),Average Volume,Volume (Percent Change)
0,2017-12,HAIL,28.094998,0.000000,7066.666667,0.000000
1,2018-01,HAIL,29.640772,0.041867,5604.761905,8242.500000
2,2018-02,HAIL,28.601481,1.317084,557.894737,-18.855146
3,2018-03,HAIL,28.672695,-1.505302,614.285714,-14.000000
4,2018-04,HAIL,27.923829,-0.325238,1447.619048,336.000000

In [16]:
# to csv
hail_clean.to_csv('csv_files/hail_percent_change.csv', encoding='utf-8', index=False)

In [17]:
# VCAR
# read csv
vcar1 = pd.read_csv('output/vcar.csv')
vcar1.head()

,Date,ETF name,Year Month Day,Open,High,Low,Close,Volume
0,2020-12-29,VCAR,2020-12-29,12.703955,12.703955,12.434930,12.434930,23000
1,2020-12-30,VCAR,2020-12-30,12.558482,12.948070,12.558482,12.929138,23600
2,2020-12-31,VCAR,2020-12-31,13.012836,13.222077,12.903232,13.030770,2400
3,2021-01-04,VCAR,2021-01-04,14.886046,14.886046,13.152330,13.337658,10400
4,2021-01-05,VCAR,2021-01-05,13.441282,13.473167,13.242005,13.351607,19500

In [18]:
# Making Data Frame for Average ETF Price (High), Average Volume By Month and Year
# And Percent Change for ETF Price and Volume By Month and Year

# VCAR

# make copy
vcar = vcar1.copy()

# PERCENT CHANGE
# setting datetime index (yyyy-mm)
# percent change of Stock High for each index
vcar['Date'] = pd.to_datetime(vcar['Date']).dt.to_period('M')
vcar = vcar.drop(columns=['Year Month Day'])
vcar = vcar.set_index('Date')
vcar
vcar['High (Percent Change)'] = vcar['High'].pct_change(periods=1, freq='M')
vcar
vcar['High (Percent Change)'] = vcar['High (Percent Change)'].fillna(0)
vcar['Volume (Percent Change)'] = vcar['Volume'].pct_change(periods=1, freq='M')
vcar['Volume (Percent Change)'] = vcar['Volume (Percent Change)'].fillna(0)

# Group by (yyyy-mm)
vcar_group = vcar.groupby(pd.Grouper(freq='M'))
vcar_pc = vcar_group['High (Percent Change)'].sum()
vcar_v_pc = vcar_group['Volume (Percent Change)'].sum()
vcar_high = vcar_group['High'].mean()
vcar_vol = vcar_group['Volume'].mean()

# New Data Frame
vcar_clean = pd.DataFrame({
    'ETF': "VCAR",
    'Average High': vcar_high,
    'High (Percent Change)': vcar_pc,
    'Average Volume': vcar_vol,
    'Volume (Percent Change)': vcar_v_pc,
})

# Reset Index
vcar_clean.reset_index(inplace=True)
vcar_clean.head()

,Date,ETF,Average High,High (Percent Change),Average Volume,Volume (Percent Change)
0,2020-12,VCAR,12.958034,0.000000,16333.333333,0.000000
1,2021-01,VCAR,15.000368,3.263529,17763.157895,-10.408696
2,2021-02,VCAR,13.943620,-0.470550,7894.736842,-3.105769
3,2021-03,VCAR,11.843422,-2.873026,5456.521739,-14.011494
4,2021-04,VCAR,12.017206,-1.762352,8380.952381,35.205882

In [19]:
# to csv
vcar_clean.to_csv('csv_files/vcar_percent_change.csv', encoding='utf-8', index=False)

In [20]:
# Concat data frames
frames = [driv_clean, idrv_clean, hail_clean, kars_clean, lit_clean, vcar_clean]
ETF_percent_change = pd.concat(frames)
ETF_percent_change

,Date,ETF,Average High,High (Percent Change),Average Volume,Volume (Percent Change)
0,2018-04,DRIV,14.277172,0.000000,100540.000000,0.000000
1,2018-05,DRIV,14.468911,-0.728209,12881.818182,-17.324042
2,2018-06,DRIV,14.496056,0.785550,10276.190476,-6.713115
3,2018-07,DRIV,14.054823,-1.254754,4919.047619,-2.277108
4,2018-08,DRIV,13.981378,0.595460,3739.130435,-15.851351
...,...,...,...,...,...,...
16,2022-04,VCAR,12.934550,3.026436,3865.000000,22.727273
17,2022-05,VCAR,10.786143,-4.391701,3976.190476,-7.148936
18,2022-06,VCAR,10.373429,-1.167890,2780.952381,98.903226
19,2022-07,VCAR,9.420900,-3.333334,1255.000000,-19.661017
20,2022-08,VCAR,10.288333,0.403333,1699.000000,34.000000

In [21]:
# to csv
ETF_percent_change.to_csv('csv_files/ETF_percent_change.csv', encoding='utf-8', index=False)

In [22]:
# Grab oil months from output
oil1 = pd.read_csv('output/oil_data_months.csv')
oil1.head()

      Date  Average Price  Percent Change(month)
0  2003-01      30.336364               0.000000
1  2003-02      31.643500               1.250407
2  2003-03      29.440000              -3.481765
3  2003-04      25.239048              -2.700220
4  2003-05      25.629545               2.773187

In [23]:
# rename columns in oil1
oil1.rename(columns={'Average Price': 'Average Price of Oil', 'Percent Change(month)': 'Price of Oil (Percent Change)'}, inplace=True)
oil1.head()

      Date  Average Price of Oil  Price of Oil (Percent Change)
0  2003-01             30.336364                       0.000000
1  2003-02             31.643500                       1.250407
2  2003-03             29.440000                      -3.481765
3  2003-04             25.239048                      -2.700220
4  2003-05             25.629545                       2.773187

In [24]:
oil1.to_csv('csv_files/oil_percent_change.csv', encoding='utf-8', index=False)